<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="home.css">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&family=Open+Sans&display=swap" rel="stylesheet"></head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <body>
    <div class="container">
        <header>
            <div class="header-item">
                <div class="logo"><h3>Ri<span>jen</span></h3></div>
                <div class="nav-items">
                    <ul>
                        <div class="home">
                        <li><a href="#home">Home</a></li>
                        </div>
                        <div  class="work">
                        <li><a href="#work">Work</a></li>
                        </div>
                        <div  class="contact">
                        <li><a href="#contact">Contact</a></li>
                        </div>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <div class="main-content">
                    <div id="home" class="home-content">
                        <h4>Hi,I am Rijen Manandhar</h4>
                        <div class="home-image">
                        
                        </div>
                        <h3>I build things for web</h3>
                        <p>I am fullstack developer from Kathmandu,Nepal.I am specialized
                            in React js for the frontend and Node js for the backend creating responsive
                            and functional websites.
                        </p>
                    </div>
                <div class="technologies">
                    <div>
                        <h1>Technologies</h1>
                     </div>
                    <div class="list-technologies">
                        
                        <img src="react.png" alt="react">
                        <img src="node.png" alt="node">      
                        <img src="mongodb.png" alt="mongodb">      
                        <img src="sql.png" alt="sql">      
                     </div>
                </div>
                <div class="works" id=work>
                    <h1>My Works</h1>
                    <div class="list-work">
                        <div class="work1">
                            <img src="image.jpg" width="1"lt="work1">
                            <div class="work1-detail">
                                <div class="title">
                                    <h3>Movie Recommender </h3>
                                </div>
                                <div class="description">
                                <p>This is a movie streaming site that recommends the user
                                    with the movie and is based upon the matrix factorization 
                                    algorithm
                                </p>
                                </div>
                                <div class="prog-tools">
                                    <div>Django</div>  <div>Postgres</div> <div>Python</div>
                                </div>
                                <div class="proj-link">
                                    <a href="#" class="fa fa-github"></a>
                                    <a  href="#" class="fa fa-external-link"></a>
                                </div>
                            </div>
                        </div> 
                         <div class="work1">
                            <img src="image.jpg" alt="work1">
                            <div class="work1-detail">
                                <div class="title">
                                    <h3>Kura Garam</h3>
                                </div>
                                <div class="description">
                                <p>It is a chat application using web socket that allows user
                                    the user to join certain group and chat with other user within 
                                    the group
                                </p>
                                </div>
                                <div class="prog-tools">
                                    <div>React</div> <div>Node</div> <div>WebSocket </div>
                                </div>
                                <div class="proj-link">
                                    <a href="#" class="fa fa-github"></a>
                                    <a  href="#" class="fa fa-external-link"></a>
                                </div>
                            </div>
                            
                           
                        </div>    
                        <!-- <div class="work1">
                            <img src="image.jpg" alt="image">
                            <div class="work1-detail">
                                <div class="title">
                                    <h3>Nepal Shops </h3>
                                </div>
                                <div class="description">
                                <p>Nepal Shop is the ecommerce application that is build by using ejs 
                                    template engine and nodejs 
                                </p>
                                </div>
                                <div class="prog-tools">
                                    <div>EJS</div>  <div>Nodejs</div> <div>Mongodb<div>Stripe</div> <div>WebSocket</div>
                                </div>
                                <div class="proj-link">
                                    <a href="#" class="fa fa-github"></a>
                                    <a  href="#" class="fa fa-external-link"></a>
                                </div>
                            </div>
                        </div>   -->
                         <div class="work1">
                            <img src="image.jpg" alt="work1">
                            <div class="work1-detail">
                                <div class="title">
                                    <h3>Weather Application</h3>
                                </div>
                                <div class="description">
                                <p>This application shows the weather of different cities and
                                    background of the application changes on the basis of weather
                                </p>
                                </div>
                                <div class="prog-tools">
                                    <div>React</div> <div>OpenWeather API</div> <div>WebSocket </div>
                                </div>
                                <div class="proj-link">
                                    <a href="#" class="fa fa-github"></a>
                                    <a  href="#" class="fa fa-external-link"></a>
                                </div>
                            </div>
                            
                            
                        </div>     
                        <div class="work1">
                            <img src="image.jpg" alt="work1">
                            <div class="work1-detail">
                                <div class="title">
                                    <h3>Weather Application</h3>
                                </div>
                                <div class="description">
                                <p>This application shows the weather of different cities and
                                    background of the application changes on the basis of weather
                                </p>
                                </div>
                                <div class="prog-tools">
                                    <div>React</div> <div>OpenWeather API</div> <div>WebSocket </div>
                                </div>
                                <div class="proj-link">
                                    <a href="#" class="fa fa-github"></a>
                                    <a  href="#" class="fa fa-external-link"></a>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
                <div class="contacts" id="contact">
                   <div><h1>Contact Me</h1></div>
                    <div class="contact-form">
                        <form>
                            <div>
                                <label for="name">Your Name:</label><br>
                                <input type="text"><br>
                            </div>
                            <div>
                                <label for="email">Your Email:</label><br>
                                <input type="email"><br>
                            </div>
                            <div>
                                <label for="name">Message:</label><br>
                                <textarea rows="10" cols="60"></textarea><br>
                            </div>    
                            <div>
                            <button type="submit" class="btn-submit">Submit</button>
                        </div>
                        </form>
                    </div>
                    <div class="contact-detail">
                        <div class="email">
                            <h4>Email</h4>
                            <p>rijenmdr47@gmail.com</p>
                        </div>
                        <div class="phone">
                            <h4>Phone</h4>
                            <p>9813103122</p>
                        </div>
                        <div class="address">
                            <h4>Address</h4>
                            <p>Kalimati,Kathmandu</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer-item">
                <div class="social-media">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-github"></a>
                </div>
                <div class="footer-info">
                    <p>&#169; 2020 All Right Reserve </p>
                    <p>Designed and Build by Rijen Manandhar</p>
                </div>
            </div>
        </footer>
    </div>
    
</body>
</html>